<%= render 'shared/navbar' %>
<div class="row">
  <%= link_to "Back" , grannies_path, class: "btn btn-gradient w-20 ml-5 mr-0 mt-3"%>
  <div class="container p-3 w-100 ml-4">
    <div class="card p-3 mb-3">
      <div class="row">
        <div class="col-md-2">
          <%= cl_image_tag @granny.photo.key, height: 230, width: 150, crop: :fill %>
        </div>
        <div class="col-md-6 text-justify">
          <h3>This is Granny <%=@granny.first_name %>'s Profile</h3>
          <p><strong>Full name:</strong> <%=@granny.first_name %> <%=@granny.last_name %></p>
          <p><strong>Age:</strong> <%=@granny.age %></p>
          <p><strong>District:</strong> <%=@granny.district %> </p>
          <p><strong>Description:</strong> <%=@granny.description %> </p>
        </div>
        <div class="col-md-4">
          <div class= "bg-white border p-3 sticky-top">
            <div class="d-flex justify-content-between mt-3">
              <p><strong>5 Hours</strong></p>
              <p><%=@granny.price %>,00€</p>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <p><strong>Service Fee</strong></p>
              <p>9,99€</p>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <p><strong>Total</strong></p>
              <p><strong>59,99€</strong></p>
            </div>
            <%= render 'appointments/new' %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="text-justify">
            <h2>Offered Activity</h2>
            <p>- <%= @granny.activity.name%> </p>
          </div>
          <div class="text-justify">
            <h2>Important notes</h2>
            <p><%=@granny.important_notes %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


