<%= render 'shared/navbar' %>
<div class="row">
  <%= link_to "Back" , grannies_path, class: "btn btn-gradient w-20 ml-5 mr-0 mt-3"%>
  <div class="container p-3 w-100 ml-4">
    <div class="card p-3 mb-3">
      <div class="row">
        <% if @user.photo.attached? %>
          <div class="col-md-2">
            <%= cl_image_tag @user.photo.key, height: 209, width: 155, crop: :fill %>
          </div>
        <% end %>
        <div class="col-md-10 text-justify pl-1 pr-4">
          <div class="d-flex justify-content-between mr-0">
            <h3>This is your Profile, <%=@user.first_name %></h3>
            <%= link_to 'Edit Profile', profile_edit_path, class: "btn btn-gradient" %>
          </div>
          <p><strong>Full name:</strong> <%=@user.first_name %> <%=@user.last_name %></p>
          <p><strong>Number of kids:</strong> <%=@user.number_of_kids %> </p>
          <p><strong>District:</strong> <%=@user.district %> </p>
          <p><strong>Description:</strong> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." </p>
        </div>
        <div class="col-md-12 pl-3 pr-4">
          <div class="text-justify">
            <h2>Important notes</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
          </div>
        </div>
      </div>
      <div class="text-justify">
        <div class="d-flex justify-content-between">
          <h2>Your Grannies:</h2>
          <%= link_to 'Add Granny', new_granny_path, class: "btn btn-gradient mr-2" %>
        </div>
          <div class="card-deck">
          <% @user.grannies.each do |granny| %>
            <div class="card mb-4">
              <%= cl_image_tag granny.photo.key, height: 138, width: 244, crop: :fill %>
              <div class="card-body">
                <h5 class="card-title"> <%= granny.first_name %></h5>
                <p class="card-text"> Age: <%=granny.age%></p>
                <p> Activity: <%=granny.activity.name%></p>
                <div>
                <p> Price: 22€</p>
                </div>
                <div class="d-flex justify-content-between">
                  <%= link_to 'Edit', edit_granny_path(granny), class: "btn btn-gradient h-50" %>
                  <%= link_to "Delete", granny_path(granny), method: :delete, data: { confirm: 'Sure?' }, class: "btn btn-gradient h-50" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

